.countriesWrapper{
    background-color: #504427e1;
    width: 100vw;
    min-height:  100vh;
    padding: 80px 70px 120px;

}

.countriesWrapper ul{
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

.countriesWrapper a,li,h1{
    color: rgb(244,218,159);
}