.footer {
    /* display: block; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(80, 29, 7, 0.986);
    color: rgb(244,218,159);
    margin: 0px;
    padding:  20px;
    box-shadow: 0px -10px 20px 5px #504427;
}
footer p {
    margin: 0px;
    padding: 0px;
}