.country{
    border-top: solid;
    border-bottom: solid;
    border-color:rgb(244,218,159);
    padding-top: 30px;
    padding-bottom: 0px;
}
.country-wrap{
    background-color: #504427e1;
    width: 100%;
    min-height:  95vh;
    padding: 80px 50px 120px;
}
.country-flag{
    width: 300px;
}
.country-title{
    color: rgb(244,218,159);
    font-size: xx-large;
    margin: 20px 0px;
}
.country-paragraph{
    color: rgb(244,218,159);
    font-size: x-large;

}
.error-loading{
    background-color: #504427e1;
    margin: 0px;
    text-align: center;
    font-size: larger;
    padding: 21px 50px 90vh;
    color: rgb(255, 123, 0);
}