body{
    background-image: url('./Img/Main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}
.urlError{
    color: rgb(255, 123, 0);
    text-shadow: 3px 3px 5px black;
    padding-top: 50px;
    text-align: center;
}
